attrs==17.4.0
Django==2.2.24
django-elasticsearch-dsl==0.4.4
django-elasticsearch-dsl-drf==0.6.3
django-nine==0.1.13
django-ormex==0.2
djangorestframework==3.7.7
drf-extensions==0.3.1
elasticsearch==5.5.2
elasticsearch-dsl==5.4.0
factory-boy==2.10.0
Faker==0.8.11
ipaddress==1.0.19
Pillow==5.0.0
pluggy==0.6.0
psycopg2==2.7.3.2
py==1.5.2
pytest==3.4.1
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
six==1.11.0
text-unidecode==1.1
urllib3==1.22
